<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Orfarm Store</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/home.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/account.css}"/>
        <!-- Bootstrap CSS -->
        <!--====== Favicon Icon ======-->

        <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png">

        <!--====== Bootstrap css ======-->
        <link rel="stylesheet" href="@{/assets/css/bootstrap.min.css}">

        <!--====== Fontawesome css ======-->
        <link rel="stylesheet" href="@{/assets/css/font-awesome.min.css}">

        <!--====== Magnific Popup css ======-->
        <link rel="stylesheet" href="@{/assets/css/animate.min.css}">

        <!--====== Magnific Popup css ======-->
        <link rel="stylesheet" href="@{/assets/css/magnific-popup.css}">

        <!--====== Slick css ======-->
        <link rel="stylesheet" href="@{/assets/css/slick.css}">

        <!--====== Default css ======-->
        <link rel="stylesheet" href="@{/assets/css/custom-animation.css}">
        <link rel="stylesheet" href="@{/assets/css/default.css}">

        <!--====== Style css ======-->
        <link rel="stylesheet" href="@{/assets/scss/style.css}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    </head>
    <body>

        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7 col-sm-12 pt-5 payment-right">
                        <div class="name-store" style="color: #333333;">
                            <h4> OrFarm Store</h4>
                        </div>

                        <div class="form-group checkAccount">
                            <p>Bạn đã có tài khoản chưa?<a href="./login.html" style="color: #5fa800;
                                                           ">Đăng nhập</a></p>
                            <label for="exampleInputPassword1">Thông tin liên hệ</label>
                            <input required type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                        </div>

                        <div class="form-group firstName_custormer">
                            <input required type="text" class="form-control" id="exampleInputFirstName" width="50%" placeholder="Họ ">
                        </div>
                        <div class="form-group lastName_custormer">
                            <input required type="text" class="form-control" id="exampleInputLastName" width="50%" placeholder="Tên">

                        </div>
                        <div class="form-group checkPhone">
                            <label for="exampleInputPassword1">Số điện thoại </label>
                            <input required type="text" class="form-control" id="exampleInputPhone" placeholder="Số điện thoại">
                        </div>
                        <label class="addressToOrder">Địa chỉ đặt hàng</label>
                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect01">
                                <!-- <option value="Chọn Tỉnh/Thành">Chọn Tỉnh/Thành</option> -->
                                <option value="An Giang">An Giang</option>
                                <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                                <option value="Bắc Giang">Bắc Giang</option>
                                <option value="Bắc Kạn">Bắc Kạn</option>
                                <option value="Bạc Liêu">Bạc Liêu</option>
                                <option value="Bắc Ninh">Bắc Ninh</option>
                                <option value="Bến Tre">Bến Tre</option>
                                <option value="Bình Định">Bình Định</option>
                                <option value="Bình Dương">Bình Dương</option>
                                <option value="Bình Phước">Bình Phước</option>
                                <option value="Bình Thuận">Bình Thuận</option>
                                <option value="Bình Thuận">Bình Thuận</option>
                                <option value="Cà Mau">Cà Mau</option>
                                <option value="Cao Bằng">Cao Bằng</option>
                                <option value="Đắk Lắk">Đắk Lắk</option>
                                <option value="Đắk Nông">Đắk Nông</option>
                                <option value="Điện Biên">Điện Biên</option>
                                <option value="Đồng Nai">Đồng Nai</option>
                                <option value="Đồng Tháp">Đồng Tháp</option>
                                <option value="Đồng Tháp">Đồng Tháp</option>
                                <option value="Gia Lai">Gia Lai</option>
                                <option value="Hà Giang">Hà Giang</option>
                                <option value="Hà Nam">Hà Nam</option>
                                <option value="Hà Tĩnh">Hà Tĩnh</option>
                                <option value="Hải Dương">Hải Dương</option>
                                <option value="Hậu Giang">Hậu Giang</option>
                                <option value="Hòa Bình">Hòa Bình</option>
                                <option value="Hưng Yên">Hưng Yên</option>
                                <option value="Khánh Hòa">Khánh Hòa</option>
                                <option value="Kiên Giang">Kiên Giang</option>
                                <option value="Kon Tum">Kon Tum</option>
                                <option value="Lai Châu">Lai Châu</option>
                                <option value="Lâm Đồng">Lâm Đồng</option>
                                <option value="Lạng Sơn">Lạng Sơn</option>
                                <option value="Lào Cai">Lào Cai</option>
                                <option value="Long An">Long An</option>
                                <option value="Nam Định">Nam Định</option>
                                <option value="Nghệ An">Nghệ An</option>
                                <option value="Ninh Bình">Ninh Bình</option>
                                <option value="Ninh Thuận">Ninh Thuận</option>
                                <option value="Phú Thọ">Phú Thọ</option>
                                <option value="Quảng Bình">Quảng Bình</option>
                                <option value="Quảng Bình">Quảng Bình</option>
                                <option value="Quảng Ngãi">Quảng Ngãi</option>
                                <option value="Quảng Ninh">Quảng Ninh</option>
                                <option value="Quảng Trị">Quảng Trị</option>
                                <option value="Sóc Trăng">Sóc Trăng</option>
                                <option value="Sơn La">Sơn La</option>
                                <option value="Tây Ninh">Tây Ninh</option>
                                <option value="Thái Bình">Thái Bình</option>
                                <option value="Thái Nguyên">Thái Nguyên</option>
                                <option value="Thanh Hóa">Thanh Hóa</option>
                                <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                                <option value="Tiền Giang">Tiền Giang</option>
                                <option value="Trà Vinh">Trà Vinh</option>
                                <option value="Tuyên Quang">Tuyên Quang</option>
                                <option value="Vĩnh Long">Vĩnh Long</option>
                                <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                                <option value="Yên Bái">Yên Bái</option>
                                <option value="Phú Yên">Phú Yên</option>
                                <option value="Tp.Cần Thơ">Tp.Cần Thơ</option>
                                <option value="Tp.Đà Nẵng">Tp.Đà Nẵng</option>
                                <option value="Tp.Hải Phòng">Tp.Hải Phòng</option>
                                <option value="Tp.Hà Nội">Tp.Hà Nội</option>
                                <option value="TP  HCM">TP HCM</option>
                            </select>
                        </div>

                        <div class="form-group">

                            <input required type="text" class="form-control" id="exampleInputAddress" placeholder="Địa chỉ">
                        </div>


                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Ghi chú:</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                        </div>
                        <div class="success-order row pb-5 ">
                            <button type="button" class="btn-buy btn btn-success mt-2 ml-3">Đặt hàng</button>
                            <a href="./ViewCart.html" class="back">Quay lại</a>
                        </div>
                        <div class="right">
                            <p>Mọi sự riêng tư và thông tin của bạn đều được chúng tôi bảo mật.</p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-12 payment-left">
                        <div class="payment-left-display pr-80">
                            <div class="showProduct">
                                <ul id="mainCartPayment">
                                   

                                </ul>
                            </div>
                            <div class="applyDiscount">
                                <div class="input-group mb-3 ml-4" style="width: 380px;">
                                    <input id="promo-code" type="text" class="form-control" placeholder="Mã giảm giá" height="80px"
                                           aria-label="Recipient's username" aria-describedby="basic-addon2">

                                    <button class="btn btn-success" type="button">Sử dụng</button>

                                </div>
                            </div>
                            <div class="sumPriceproduct">
                                <p>Tạm tính: <span class="padding-price1">0 </span><sup>đ</sup></p>
                                <p>Phí ship: <span class="padding-price2">0 </span><sup>đ</sup></p>
                                <p>Giảm giá: <span class="padding-price3">0 </span><sup>đ</sup></p>

                            </div>
                            <div class="sumarizePrice ">
                                <p>Tổng tiền: <span class="padding-price">0 </span><sup>đ</sup></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--====== jquery js ======-->
    <script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>

    <!--====== Bootstrap js ======-->
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/popper.min.js}"></script>


    <!--====== wow js ======-->
    <script th:src="@{/assets/js/wow.js}"></script>

    <!--====== Slick js ======-->
    <script th:src="@{/assets/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/assets/js/waypoints.min.js}"></script>

    <!--====== TweenMax js ======-->
    <script th:src="@{/assets/js/TweenMax.min.js}"></script>

    <!--====== Slick js ======-->
    <script th:src="@{/assets/js/slick.min.js}"></script>

    <!--====== Magnific Popup js ======-->
    <script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>

    <!--====== Main js ======-->
    <script  type="text/javascript"  th:src="@{/main.js}"></script>
    <!--<script th:src="@{/assets/main.js}"></script>-->

    <script th:src="@{/cart.js}"></script>
      <script type="text/javascript">
        window.onload = function ()
        {
            showProductToPayment();
            checkProduct();
        };


    </script>
</html>
