<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Orfarm Store</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/home.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/account.css}"/>
        <!-- Bootstrap CSS -->
        <!--====== Favicon Icon ======-->

        <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png">

        <!--====== Bootstrap css ======-->
        <!--<link rel="stylesheet" href="@{/assets/css/bootstrap.min.css}">-->

        <!--====== Fontawesome css ======-->
        <link rel="stylesheet" href="@{/assets/css/font-awesome.min.css}">

        <!--====== Magnific Popup css ======-->
        <link rel="stylesheet" href="@{/assets/css/animate.min.css}">

        <!--====== Magnific Popup css ======-->
        <link rel="stylesheet" href="@{/assets/css/magnific-popup.css}">

        <!--====== Slick css ======-->
        <link rel="stylesheet" href="@{/assets/css/slick.css}">

        <!--====== Default css ======-->
        <link rel="stylesheet" href="@{/assets/css/custom-animation.css}">
        <link rel="stylesheet" href="@{/assets/css/default.css}">

        <!--====== Style css ======-->
        <link rel="stylesheet" href="@{/assets/scss/style.css}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    </head>
    <body>
        <header th:replace="header :: myheader"></header>

        <div class="alert alert-success p-0 d-flex" role="alert" th:if="${success}">
            <p style="margin: .5rem;" th:text="${success}"></p>
            <!--                    <a class="btn btn-outline-success" href="/cart">Giỏ hàng</a>-->
        </div>
        <section class="breadcrum">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb container">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Danh mục sản phẩm</li>
                    <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
                </ol>
            </nav>
        </section>

        <main>
            <section class="shop-details-area pt-100 pb-100">
                <div class="container">
                    <div class="row " th:each="item : ${prod}">
                        <div class="col-lg-6">
                            <div class="shop-details-thumb">
                                <div class="shop-details-thumb-slider-active">
                                    <div class="item">
                                        <img th:src="${item.image}" class="card-img-product1-top" style="" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="shop-product-details-content pl-70 mt-35">

                                <span>Trong kho</span>
                                <h2 class="title" th:text="${item.name}"></h2>
                                <input type="hidden" id="productId"  th:value="${item.id}">
                                <div class="pricing">
                                    <div class="discount-price mr-15" th:text="${(item.real_price)*(100- item.percent_discount)/100}+'đ'" style="padding: 10px"></div>
                                    <div class="regular-price"th:text="${item.real_price} + 'đ'"></div>
                                </div>
                                <div class="review">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star-half-alt"></i></li>
                                    </ul>
                                    <span>(4 bình luận)</span>
                                </div>

                                <p th:text="${item.desc}"></p>
                                <div class="shop-buttons d-block d-sm-flex align-items-center">
                                    <!--                                    <form th:action="@{/cart_add/{id}(id=${item.id})}" th:with="sl='Số lượng'" class="w-100" method="post">-->
                                    <div class="product-quantity" id="quantity">

                                        <button type="button" id="sub" class="sub">-</button>
                                        <!--<input class="form-control" id="quantity" name="quantity" type="number" th:value="${nowquantity}"/>--> 
                                        <input type="text" id="1" value="1" />
                                        <button type="button" id="add" class="add">+</button>
                                    </div>
                                    <!--@{|/buyProduct?code=${prodInfo.code}|}-->
                                    <!--<a th:href="@{/cart_add/{id} (id = ${item.id})">Buy Now</a>-->
                                    <a class="main-btn" style="margin-left: 10px" href="#" type="submit">Thêm vào giỏ</a>

                                    <!--</form>-->

                                </div> 
                                <div class="details-info">
                                    <ul>
                                        <li><span>SKU:</span> 42725-AB-6 </li>
                                        <li><span>Phân loại: </span> Rau củ sạch </li>
                                        <li><span>Tags:</span> Cải Bắp, Sạch, Rau </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <a class="btn btn-outline-success" href="/viewCart">Giỏ hàng</a>
                        <th:block th:if="${listcart}">
                            <p th:text="${listcart.size}"></p>
                        </th:block>
                    </div>
                </div>


            </section>

            <!--====== APPIE SHOP DETAILS PART ENDS ======-->

            <!--====== APPIE SHOP DETAILS PART ENDS ======-->

            <div class="shop-details-info-area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="shop-details-box">
                                <ul class="nav nav-pills mb-35" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Mô tả</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Đánh giá (2)</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                        <div class="shop-description"  th:each="item : ${prod}">
                                            <span></span>
                                            <span th:text="${'- ' + item.brief_desc}"></span>
                                            <span th:text="${'- '+item.desc}"></span>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                        <div class="review-rating-box">
                                            <div class="top-rating-result">
                                                <h3 class="title">2 Reviews for Watch</h3>
                                                <div class="rating-result-box">
                                                    <div class="thumb">
                                                        <img src="assets/images/testimonial-user-2.png" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <ul>
                                                            <li><i class="fas fa-star"></i></li>
                                                            <li><i class="fas fa-star"></i></li>
                                                            <li><i class="fas fa-star"></i></li>
                                                            <li><i class="fas fa-star"></i></li>
                                                            <li><i class="fas fa-star-half-alt"></i></li>
                                                        </ul>
                                                        <div class="shop-meta">
                                                            <div class="author-user-name">
                                                                <a href="#">Lê Ngọc Hà</a>
                                                            </div>
                                                            <div class="date">
                                                                <span>08, 10, 2021</span>
                                                            </div>
                                                        </div>
                                                        <p>Chiều cao cây khoảng 80cm, mỗi cây sẽ có từ 150 - 180 bắp. Bắp cải tí hon rất nhiều chất xơ, tốt cho sức khỏe.</p>
                                                    </div>
                                                </div>
                                                <div class="rating-result-box">
                                                    <div class="thumb">
                                                        <img src="assets/images/testimonial-user-1.png" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <ul>
                                                            <li><i class="fas fa-star"></i></li>
                                                            <li><i class="fas fa-star"></i></li>
                                                            <li><i class="fas fa-star"></i></li>
                                                            <li><i class="fas fa-star"></i></li>
                                                            <li><i class="fas fa-star-half-alt"></i></li>
                                                        </ul>
                                                        <div class="shop-meta">
                                                            <div class="author-user-name">
                                                                <a href="#">Xoan Hoàng</a>
                                                            </div>
                                                            <div class="date">
                                                                <span>24, 07, 2021</span>
                                                            </div>
                                                        </div>
                                                        <p>Chiều cao cây khoảng 80cm, mỗi cây sẽ có từ 150 - 180 bắp. Bắp cải tí hon rất nhiều chất xơ, tốt cho sức khỏe.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="review-box">
                                                <div class="review-title">
                                                    <h4 class="title">Thêm đánh giá</h4>
                                                    <p>Địa chỉ email của bạn sẽ không được công bố. Các trường bắt buộc được đánh dấu *</p>
                                                </div>
                                                <div class="add-review-star">
                                                    <span>Đánh giá sản phẩm này:</span>
                                                    <ul>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fal fa-star"></i></li>
                                                        <li><i class="fal fa-star"></i></li>
                                                        <li><i class="fal fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="rating-form-box">
                                                <form action="#">
                                                    <div class="input-box">
                                                        <label for="#">Tên của bạn *</label>
                                                        <input type="text" placeholder="Username">
                                                    </div>
                                                    <div class="input-box">
                                                        <label for="#">Email *</label>
                                                        <input type="email" placeholder="E-mail address">
                                                    </div>
                                                    <div class="input-box">
                                                        <label for="#">Đánh giá của bạn </label>
                                                        <textarea name="#" id="#" cols="30" rows="10" placeholder="Type you message"></textarea>
                                                    </div>
                                                    <div class="input-box">
                                                        <div class="condition-check">
                                                            <input id="terms-conditions" type="checkbox">
                                                            <label for="terms-conditions">Lưu tên, email và trang web của tôi trong trình duyệt này cho lần sau khi tôi nhận xét</label>
                                                        </div>
                                                        <button class="main-btn"style="margin-bottom: 40px" type="submit">Gửi đánh giá</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                      

            <!--====== APPIE SHOP DETAILS PART ENDS ======-->


            <!--====== APPIE SHOP RELATED PRODUCT PART ENDS ======-->

            <div class="shop-related-area pt-90 pb-170">
                <div class="container">
                    <div class="row" >
                        <div class="col-lg-12">
                            <div class="appie-section-title text-center">
                                <h3 class="appie-title">Các sản phẩm liên quan</h3>
                                <p>Khám phá thêm nhiều sản phẩm bên dưới để đưa ra lựa chọn tốt nhất cho bạn và gia đình. </p><i class="fas fa-heart"></i><i class="fas fa-heart"></i><i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>

                    <div class=" row shop-related-product-slider-active" >
                        <div class="col-lg-3 col-md-6" th:each= "item1 : ${randProducts}" >
                            <div class=" single-shop-box">
                                <div class="thumb text-center">
                                    <img th:src="${item1.image}" alt="" class="card-img-top-230">
                                    <div class="cart-list-icon">
                                        <ul>
                                            <li class="shopping-bag"><a href="#"><i class="fas fa-shopping-bag"></i></a></li>
                                            <li><a href="#"><i class="far fa-heart"></i></i></a></li>
                                            <li><a href="#"><i class="far fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star-half-alt"></i></li>
                                    </ul>
                                    <input type="hidden" id="productId"  th:value="${item1.id}">

                                    <div class="pricing">
                                        <div class="discount-price" th:text="${(item1.real_price)*(100- item1.percent_discount)/100}"></div> 
                                        <div class="regular-price" th:text="${item1.real_price}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>

        <div class="amm-shopping-cart-wrapper">
            <div class="amm-shopping-cart-canvas" id="amm-shopping-cart-canvas">
                <div class="amm-shopping_cart">
                    <div class="amm-shopping_cart-top-bar d-flex justify-content-between">
                        <h6>Giỏ hàng</h6>
                        <button onclick="removeShoppingCart()" class="amm-shopping-cart-close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div><!-- shopping cart top bar -->
                    <div class="amm-shopping_cart-list-items mt-30" id="showCart">
                        <ul>

                        </ul>
                    </div> <!-- shopping_cart list items -->
                    <div class="amm-shopping_cart-btn">
                        <div class="total pt-35 d-flex justify-content-between">
                            <h5>Tổng tiền:</h5>
                            <p><span>0 </span><sup>đ</sup></p>

                        </div>
                        <div class="cart-btn pt-25">
                            <a class="main-btn" onclick="viewCarts()" href="/viewCart">Xem giỏ hàng</a>
                            <a class="main-btn main-btn-2" href="./payment.html">Thanh toán</a>
                        </div>
                    </div>
                </div> <!-- shopping_cart -->
            </div>
            <div onclick="openOverlay()" class="overlay" id="overlay"></div>
        </div>
        <footer th:replace="footer :: myfooter"></footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--====== jquery js ======-->
    <script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>

    <!--====== Bootstrap js ======-->
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/popper.min.js}"></script>


    <!--====== wow js ======-->
    <script th:src="@{/assets/js/wow.js}"></script>

    <!--====== Slick js ======-->
    <script th:src="@{/assets/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/assets/js/waypoints.min.js}"></script>

    <!--====== TweenMax js ======-->
    <script th:src="@{/assets/js/TweenMax.min.js}"></script>

    <!--====== Slick js ======-->
    <script th:src="@{/assets/js/slick.min.js}"></script>

    <!--====== Magnific Popup js ======-->
    <script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>

    <!--====== Main js ======-->
    <script  type="text/javascript"  th:src="@{/main.js}"></script>
    <script th:src="@{/cart.js}"></script>

</html>
