/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 16, 2021, 10:56:31 AM
    Author     : Hoang Xoan
*/



.cate-slider.category{
    display: inline;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
.header{
    background-color: white;
    padding-bottom: 10px;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
.carousel-item img{
    background-size: cover;
}
.fixed-top{
    background-color: white;
}
.banner-content {
    position: absolute;
    bottom: 50%;
    width: 50%;
    transform: translateY(50%);
    left: 30px;
}
.banner-hover{
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-size: cover;
}
.lazyloaded{
    transition: transform 8s cubic-bezier(0.25, 0.46, 0.);
    -webkit-transition-duration: 2s;
}
.lazyloaded:hover{
    width: 100% !important;
    transform: scale(1.2);

}

.category{
    background-color:#f7f7f7; 
    padding: 30px;
}
.cate-slider{
    width: 100%;
}

.card-img-top{
    height: 250px; 
    width: 250px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.card-img-product1-top{
    height: 480px; 
    width: 450px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.shop-product-details-content{
    padding-left: 70px;
    padding-top: 35px;
}

.product-slider{
    width: 100%;
}
.slick-arrow{
    display: none !important;
}
.bg-ban{
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-bot{
    display: block;
    position: relative;
    background-attachment: fixed;
    background-image: url("https://cdn.shopify.com/s/files/1/0412/8151/9765/files/dealbanner-min.jpg?v=1593257102");
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-bot .section-title{
    position: absolute;
    text-align: center;
    color: white;
    top: 50%;
    left: 20%;
}



.gallery {
    padding: 60px 0px 30px 0px;
    margin-top: 90px;
    background-color: #f4f4f4;
}

.gallery .titlepage {
    text-align: center;
}

.gallery .gallery_img {
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #ffffff;
}

/* .gallery .gallery_img figure {
    margin: 0;
}

.gallery .gallery_img figure img {
    width: 100%;
    transition: all .5s;
}

.gallery .gallery_img figure img:hover {
    transform: scale(1.2);
    cursor: pointer;
} */

.pro-loop {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    background: #fff;
    margin-bottom: 30px;
}
.product-img .product-sale {
    position: absolute;
    font-size: 12px;
    line-height: 1;
    padding: 5px 10px;
    font-weight: bold;
    z-index: 9;
    border: 1px solid #ededed;
    top: 10px;
    left: 10px;
    background-color: #fff;
    color: #f94c43;
}
.box-pro-detail {
    z-index: 9;
    width: 100%;
    margin-left: 15px;
}
.box-pro-detail h3 {
    margin: 0 0 5px;
    font-size: 14px;
    position: relative;
    min-height: 18px;
}
.box-pro-detail h3 a {
    line-height: 16px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: black;
    text-decoration: none;
}
.pro-price {
    color: #f94c43;
    font-size: 14px;
    margin: 0;
}
.pro-price .pro-price-del {
    color: #939393;
    font-size: 13px;
    margin-left: 5px;
}
.fader{
    display: inline-block;
}
.fader img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.top-bar{
    list-style-type: none;
    height: 40px;
    background-color: bisque;
    position: absolute;
}
.main-footer {
    padding: 40px 85px 30px 85px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;    
}
/* .text-footer{
  margin-left: 75px;
} */
.bottom-footer {
    padding: 20px 0;
    background-color: #f5ab1e;
}
.bottom-footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.bottom-footer ul>li a{
    list-style-type: none;
    line-height: 0;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: #fff;
    margin-right: 5px;
    padding: 6px 8px;
    padding-left: 6px;

}
.bottom-footer .social-media a{
    float: right;
    padding: 8px 7px 2px 7px;
    color:  #f5ab1e;
    /* justify-items: right; */
}
.news-letter {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.news-letter .subscribe-content .contact-form {
    text-align: center;
}
.news-letter .subscribe-content input {
    height: 45px;
    border: none;
    padding: 12px 15px;
    position: relative;
}
.news-letter .subscribe-content button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    height: 100%;
    background-color: yellowgreen;
    color: white;
}
.subscribe-content{
    position: relative;
}
.text-header{
    font-size: 13px;
    font-weight: 500;
    padding: 30px 20px;
    position: relative;
    text-transform: uppercase;
}
/* ul>li {
    margin-right: 8px;
} */
/* dropdown  */
.dropdown-submenu:not(show){
    display: table;
}

/* login */
.section-ptb .col{
    padding: 30px;
    height: 500px;
    width: 300px;
    float: left;
    display: block;
    margin: 0 145px;
    /* display: flex;
    justify-content: space-around;*/
} 
.section-ptb .col .login-form-container ul, .acc-reset ul{
    list-style-type: none;
}
.section-ptb .login-form-container input{
    padding: 10px 15px;
    background-color: #fff;
    font-size: 13px;
    color: #bbb;
    /* margin: 5px 5px; */
    width: 100%;
    height: 42px;
}
.section-ptb .login-form-container{
    text-align: left;
    padding: 30px
}

.customer-page .login-form-container .title-text{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
}
.customer-page .login-form-container .title-text p{
    margin-bottom: 30px;
}
.customer-page .login-form-container .log-email label,.customer-page .login-form-container .log-password label,
.log-resetEmail label, .acc-reset ul li
{
    /* width: 308px; */
    font-size: 15px;
    margin-bottom: 5px;
    width: 100%;
} 
.customer-page .login-form-container .log-email, .log-firstName, .log-lastName{
    margin-bottom: 30px;
}
#input-full-email{
    margin-bottom: 30px;
}
.form-btn .btn{
    width: 100%;
    margin-bottom: 30px;
}

.customer-page .login-form-container, .resetPass .acc-reset{
    border: 1px solid #eee;
    border-radius: 3px;
}

.login-form-container ul>li:last-child a, #HideRecoverPasswordLink{
    color: #f5ab1e;
    /* text-align: center; */
    font-weight: 300;
    display: flex;
    margin-bottom: 15px;
    text-decoration: none;
    justify-content: space-evenly
}
.customer-page .side-form{
    margin-left: 30px;
    margin-top: 80px;
}
.customer-page .side-form .acc-title{
    text-align: center;
}
.customer-page .side-form h6{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
}
.customer-page .log-acc-page{
    display: flex;
    justify-items: center;
}
.customer-page .acc-title .account-option-action a{
    border: 2px solid #f5ab1e;
    color: #f5ab1e;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

.customer-page .acc-title .account-option-action a:hover{
    background-color: rgb(235, 234, 217);
}
.customer-page .side-form .term-privacy p a{
    color: #f5ab1e;
    text-decoration: none;
}
.customer-page .side-form .term-privacy{
    margin-top: 30px;
    font-size: 13px;
}
.breadcrum{
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: #fafafa;
}
.breadcrumb{
    background-color: transparent !important;
}
breadcrumb-item .active{
    color: #f5ab1e transparent;
}
.breadcrumb-item a{
    color: black;
    list-style-type: none;
}
.errors{
    color: #d02e2e;
    border: 1px solid;
    margin-bottom: 15px;
    font-size: 13px;
    text-align: left;
    background-color: #fff6f6;
    padding: 8px 12px;
    border-radius: 3px;
    height: 40px;
}
.breadcrumb-item.active {
    color: #f5ab1e !important;
}
/* information */
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
/* contact */
.form-contact1 {
    border: 1px solid #f5ab1e;
    padding: 40px 40px;
    float: right;
}
.form-contact2{
    border: 1px solid #f5ab1e;
    padding: 40px 40px;
    float: left;
}
.contact-cover, .blog-infor{
    margin: 50px 0;
}
/* blog */
.form-search{
    display: flex;
}
/*.appie-about-page-area {
    background-image: url(../../chi-dep-bien-hoa-quay-rau-cu-qua-sieu-to-khong-lo-thanh-be-xiu-xiu-xiu-khien-ai-nay-deu-phai-thot-len-dich-thi-la-tien-nu-ket-lai-o-ha-pham-roi1222-2021-05-22-15-00.jpg);
}*/
/* shop */
#dropdown-collection:hover{
    background-color: #f5ab1e;
}
/* license */
.img-license{
    width: 900px;
    padding-left: 250px;
}
/*loc trang category fruit*/
#fruit10_30,  #fruit30_50, #fruit50_100, #fruit100_200, #fruitbiger200 {
    display: none;
}

#fruit, #fruit10_30, #fruit30_50, #fruit50_100, #fruit100_200, #fruitbiger200{
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
    -webkit-animation: slide-down .5s ease-in;
    -moz-animation: slide-down .5s ease-in;
}
@-webkit-keyframes slide-down{
    0% {opacity: 0;}
    20% {opacity: 1;}
}

/*loc trang category vevegetable*/

#vegetable10_30, #vegetable30_50, #vegetable50_100, #vegetable100_200, #vegetablebiger200{
    display: none;
}

#vegetable,#vegetable10_30, #vegetable30_50, #vegetable50_100, #vegetable100_200, #vegetablebiger200{
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
    -webkit-animation: slide-down .5s ease-in;
    -moz-animation: slide-down .5s ease-in;
}

#TypeOfNut10_30,#TypeOfNut50_100, #TypeOfNut30_50, #TypeOfNut100_200, #TypeOfNutbiger200{
    display: none;
}

#TypeOfNut,#TypeOfNut10_30,#TypeOfNut50_100, #TypeOfNut30_50, #TypeOfNut100_200, #TypeOfNutbiger200{
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
    -webkit-animation: slide-down .5s ease-in;
    -moz-animation: slide-down .5s ease-in;
}

#SpecialFood10_30, #SpecialFood30_50, #SpecialFood50_100, #SpecialFood100_200, #SpecialFoodbiger200{
    display: none;
}

#SpecialFood,#SpecialFood10_30, #SpecialFood30_50, #SpecialFood50_100, #SpecialFood100_200, #SpecialFoodbiger200{
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
    -webkit-animation: slide-down .5s ease-in;
    -moz-animation: slide-down .5s ease-in;
}

#Rice10_30, #Rice30_50, #Rice50_100, #Rice100_200, #Ricebiger200{
    display: none;
}

#Rice,#Rice10_30, #Rice30_50, #Rice50_100, #Rice100_200, #Ricebiger200{
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
    -webkit-animation: slide-down .5s ease-in;
    -moz-animation: slide-down .5s ease-in;
}

#Other10_30, #Other30_50, #Other50_100, #Other100_200, #Otherbiger200{
    display: none;
}

#Other, #Other10_30, #Other30_50, #Other50_100, #Other100_200, #Otherbiger200{
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
    -webkit-animation: slide-down .5s ease-in;
    -moz-animation: slide-down .5s ease-in;
}

/*gio hang*/
#navbarSupportedContent .amm-shopping-cart-open{
  position: relative;
}
#navbarSupportedContent .quantity-amm-shopping-cart-open{
  position: absolute;
  font-size: 10px;
    font-weight: 500;
    line-height: 1.75em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: rgba(114,114,114,0.9);
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    padding: 0 0.5833333333em;
    position: absolute;
    right: -0.75em;
    top: -0.2em;
    z-index: 2;
}